<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name="buStock"
             type="BU.Stock.Service.Configuration.BuStockServiceConfigurationSection,BU.Stock.Service"
             />
  </configSections>
  <buStock>
    <stockService name="stockService"
                  type="BU.Stock.Service.YahooStockService,BU.Stock.Service"
                  apiUrl="http://finance.yahoo.com/d/quotes.csv" />
  </buStock>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
</configuration>